.header {
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 40px;


  }

  &__logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }

  &__center {
    display: flex;
    align-items: center;


  }

  &__list {
    display: flex;
    font-size: 40px;

  }

  &__list li {
    margin-right: 10px;
  }

  &__button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }


  &__right {
    display: flex;
    align-items: center;
  }

  &__search {
    position: relative;

    &__icon {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
    }

    &__filed {
      width: 230px;
      height: 32px;
      background: #424242;
      border-radius: 8px;
      border: none;
      padding: 0 12px 0 34px;
    }
  }

  .sign__in__form {
    width: 500px;
    height: 730px;
    background-color: #000c24;
    display: flex;
    flex-direction: column;
    color: white;

    &__header {
      display: flex;
      justify-content: space-between;
      height: 80px;
      padding-top: 10px;

    }

    &__register__button {
      width: 100px;
      height: 40px;
      background-color: #a71f67;
      border-radius: 10px;
    }

    &__hide {
      color: #959aa4;
      font-size: 20px;
      background-color: #000c24;
      height: 40px;
      width: 40px;
      border: none;
    }

    &__description {
      height: 120px;
      color: white;
      margin-bottom: 30px;
      font-size: 25px;


    }

    &__description p {
      color: #959aa4;
      font-size: 16px;
    }

    &__form{
      display: flex;
      flex-direction: column;

      .username,.password{
        width: 450px;
        height: 70px;
        border-radius: 10px;
        background-color: #263045;
        margin: 20px 0 10px 15px;
      }
      .sign__in{
        width: 450px;
        height: 50px;
        border-radius: 10px;
        background-color: #109121;
        margin: 10px 0 0px 15px;

      }
    }

  }


}

.modal{
  position: absolute;
  top: 200px;
  right: 700px;

}