.personal-info-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.info-item:last-child {
  border-bottom: none;
}

.info-item label {
  font-weight: bold;
  margin-right: 10px;
}

.info-item span {
  flex-grow: 1;
}
